<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-4">
        <div class="card text-black">

          <img  src="{{data.image}}"
            class="card-img-top " alt="{{data.title}}" />
          <div class="card-body m-3">
            <div class="text-center">
              <h5 class="card-title">{{data.category}}</h5>
              <p class="text-muted mb-4">{{data.title}}</p>
            </div>
            <div>
              <!-- <div class="d-flex justify-content-between">
                <strong>Price</strong><span>{{data.price}}</span>
              </div>
              <div class="d-flex justify-content-between">
                <strong>Description:</strong>
                <p class="mx-3">{{data.description}}</p>
              </div>
              <div class="d-flex justify-content-between">
                <strong>Rate</strong><span>{{data.rating.rate}}</span>
              </div>
            </div>
            <div class="d-flex justify-content-between total font-weight-bold mt-4">
              <strong>Count</strong><span>{{data.rating.count}}</span> -->
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>
